.l_flex_container
  position: relative
  height: calc(100vh - 60px)
  margin: 8px
  display: flex

.l_flex_box
  flex-flow: row nowrap
  justify-content: center
  align-items: stretch
  flex-grow: 1
  flex-shrink: 1
  flex-basis: 400px
  position: relative
  width: 400px
  height: calc(100vh - 80px)
  margin: 0 24px
  background-color: #ddd
  .content
    position: relative
    height: calc(100vh - 120px)
    padding: 20px 16px
    overflow-y: scroll

.l_week_container
  border-bottom: 1px solid transparent
  color: #616161
  line-height: 24px
  margin: 20px 0 8px
  padding: 0 24px
  display: flex

.l_week_item
  margin-right: 48px
  -webkit-flex: 1
  flex: 1

//form
.l_applyform_header
  height: 60px
  background-color: black

.l_form_container
  height: 100%
  padding: 20px 16px
  overflow-y: scroll

.l_form_row
  margin-right: 5px
  margin-left: 5px
  &:before
    display: table
    content: " "

.md_form_button
  margin-top: 24px
