.l_flex_container
  position: relative
  margin: 0 8px
  display: flex

.l_flex_box
  flex-flow: row nowrap
  justify-content: center
  align-items: stretch
  flex-grow: 1
  flex-shrink: 1
  position: relative
  margin: 0 24px
  background-color: #ddd
  .content
    position: relative
    height: calc(100vh - 120px)
    padding: 20px 16px
    overflow-y: scroll

.l_week_container
  border-bottom: 1px solid transparent
  color: #616161
  line-height: 24px
  margin: 20px 0 8px
  padding: 0 24px
  display: flex

.l_week_item
  margin-right: 48px
  -webkit-flex: 1
  flex: 1

//form
.l_applyform
  top: 65px
  bottom: 0
  right: 0
  position: fixed
  width:400px
  background-color: #ddd
  transform: translateX(400px)
  transition: transform .35s ease-in-out
  &.is_active
    transform: translateX(0)

.l_applyform_header
  height: 80px
  background-color: #ddd

.l_form_container
  height: 100%
  padding: 20px 16px
  overflow-y: scroll

.l_form_row
  margin-right: 5px
  margin-left: 5px
  &:before
    display: table
    content: " "

.md_form_button
  margin-top: 24px

//FloatingActionButton
.l_floating_button
  position: fixed
  top: 73px
  right: 8px
  z-index: 100