//form
.l_form_header
  background: #424242
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  color: #fff
  height: 18px
  line-height: 18px
  outline: 1px solid transparent
  padding: 11px 20px
  transform: translateZ(0)
  -webkit-flex: 0 0 auto
  flex: 0 0 auto

.l_form_content
  overflow-y: auto
  height: calc(100vh - 200px)
  flex: 1 1 auto
  padding: 8px

.l_form_row
  margin-right: 8px
  margin-left: 8px

.l_form_footer
  position: fixed
  bottom: 2
  display: flex
  height: 64px
  width: 480px
  padding: 14px 20px
  align-items: center
  flex: 0 0 auto
  .button
    margin-right: 20px
