body
  background-color: #f2f2f2 !important
  color: #212121

.l_wrapper
  display: block

.l_header_override
  top: 0 !important
  position: fixed !important
  width: 100% !important
  height: 64px !important
  line-height: 64px !important
  z-index: 200 !important
  &.is_attendance
    background-color: #EF6C00 !important
  &.is_apply
    background-color: #3F51B5 !important
  &.is_ap
    background-color: #0F9D58 !important
  .l_menu_iconbutton
    margin: 0 8px !important
  .l_profile_iconbutton
    margin: 8px !important
  .l_header_title
    margin: 0px
    padding: 0px
    letter-spacing: 0px
    font-size: 24px !important
    font-weight: 400 !important
    color: rgb(255,255,255) !important

.l_header_search
  line-height: 20px
  border-radius: 2px
  min-width: 144px
  position: relative
  display: flex
  flex: 1
  background: rgba(255,255,255,.15);
  .l_header_search_icon
    display: inline-block;
    height: 36px;
    position: relative;
    width: 72px;
  .l_header_search_input
    position: relative;
    flex: 1;

.l_drawer_override
  color: #212121 !important
  top: 65px !important
  padding: 12px 8px !important 
  z-index: 100 !important
  box-shadow: initial !important
  overflow: visible !important
  background-color: #f2f2f2 !important
