body
  background-color: #f2f2f2
.l_wrapper
  overflow: hidden
.l_header_override
  background-color: #3F51B5 !important
.l_drawer_override
  top: 65px !important
  padding: 12px 8px !important 
  z-index: 100 !important
  box-shadow: initial !important
  overflow: visible !important
  background-color: #f2f2f2 !important
.l_main
  width: auto
  margin: 0 104px
  transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
  &.is_active
    padding-left: 128px
