body
  background-color: #f2f2f2
  color: #212121
  height: 100%
.l_wrapper
  height: 100%
  display: block
.l_header_override
  top: 0 !important
  position: fixed !important
  background-color: #3F51B5 !important
.l_drawer_override
  color: #212121 !important
  top: 65px !important
  padding: 12px 8px !important 
  z-index: 100 !important
  box-shadow: initial !important
  overflow: visible !important
  background-color: #f2f2f2 !important
.l_main
  width: 95%
  margin: 65px auto 0
  transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
  &.is_active
    width: auto
    margin-left: 272px
