.l_attendance_container
  margin-left: -16px
  margin-right: -72px
  background-color: #ddd

.md_tablelayout_override
  

.l_tablesuperheader_override
  height: 50px
  // &::before
  //   content:" "
  //   height: 57px
  //   width: 95%
  //   position: fixed
  //   box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28)
.l_tableheader_override
  height: 50px
  text-align: center
  // &::before
  //   content:" "
  //   height: 57px
  //   width: 95%
  //   position: fixed
  //   box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28)
